.divHome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculatorMolde{
    width: 300px;
    height:500px;
    display: grid;
    grid-auto-rows: minmax(60px, auto);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fila{
    display: flex;
    padding: 10px;
}

.articleButtonVal{
    padding: 10px 8px;
}
.articleButtonVal > button{
    background-color: #F4E44F;
    color: #0a0a0a;
    border: none;
    font-size: 25px;
    width: 55px;
    height: 55px;
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.articleButtonVal > button:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    background-color: #dfdb1e;
}

.articleButton > button{
    background-color: #F04D4D;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    border: none;
    width: 55px;
    height: 55px;
    transition: 1s ease;
}
.articleButton > button:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    background-color: #b11313;
}
.formDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: -40px;
}
.formDisplay > input{
    display: flex;
    height: 100%;
    width: 200%;
    padding: 10px 10px;
    border: 0;
    font-size: 30px;
    justify-content: flex-end;
    background-color: transparent;
    color: white;
    text-decoration: none;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.container{
    width: 350px;
    height: 450px;
    border: 1px solid #e4e2e2;
    border-radius: 16px;
    margin-top: 100px;
    background-color: #111;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.deleteButton{
    grid-column: 1/3;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
}
.deleteTodo{
    grid-column: 3/5;
    cursor: pointer;
    background-color: #b11313;
    color: white;
    font-size: 25px;
    border-radius: 20px;
}
.calculatorDiv{
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    justify-content: center;
}
.calculatorDiv > button{
    cursor: pointer;
    border: none;
}
.buttonNum{
    color: #fff;
    font-size: 20px;
    background-color: #335c9b;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 5%;
    cursor: pointer;
}
.buttonOper{
    color: #fff;
    font-size: 20px;
    background-color: #74e8fc;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 5%;
}

.buttonFin{
    background-color: rgb(27, 54, 0);
    font-size: 20px;
    border-radius: 20px;
    padding: 15px 15px;
    color: white;
}